body {
	background-color: #eee;
}

nav {
	padding: 7px 20px;
}

#navdropdown {
	margin-right: 10px;
}

#navdropdown li {
	padding-right: 7px;
}

.fullpage {
	min-height: 100vh;
	width: 100%;
	padding-top: 65px !important;
}

#intro-heading {
	font-size: 45px;
}

#intro .cover {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.cover {
	background-color: rgba(100, 100, 100,0.4);
	min-height: calc(100vh - 65px);
	width: 100%;
}

.container-fluid {
	padding: 0;
}

#burger-container:hover, #burger-container:focus {
	background: none;
}

#burger-container {
	border: none;
}

#burger span {
	transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
	width: 0;
	opacity: 0;
}

#burger-container.open span:nth-child(4) {
	transform: rotate(45deg) translateY(-13px);
}

#burger-container.open span:nth-child(1) {
	transform: rotate(-45deg) translateY(13px);
}

.full-container {
	padding: 0 30px 30px 30px;
	font-size: 16px;
	padding-top: 65px !important;
}

#versions, .carousel-inner, .version-data {
	background: #bbb;
	min-height: calc(100vh - 65px);
}

.version-pic, .version-info {
	padding: 45px !important;
}

.version-pic {
	height: calc(100vh - 65px);
}

.version-img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 60vh;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}