body {
	color: #202020 !important;
	font-family: 'Montserrat' !important;
}

.fullpage {
	min-height: 100vh;
	width: 100%;
	padding-top: 65px !important;
}

.cover {
	background-color: rgba(80, 80, 80, 0.4);
	min-height: 100vh;
	margin-top: -65px;
	width: 100%;
}

.full-container {
	padding: 0 30px 30px 30px;
	font-size: 16px;
	padding-top: 65px !important;
}


nav {
	padding: 7px 20px;
	transition: background-color 0.4s;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 1.3px;
}

.links {
	color: #fff !important;
}

#navdropdown {
	margin-right: 10px;
}

#navdropdown li {
	padding-right: 12px;
}


#intro-heading {
	font-size: 65px;
	color: #ECEFF1;
}

#intro .cover {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

#intro {
	background-image: url('../static/images/pics/IMG_0.JPG');
	transition: background-image 0.5s ease-in-out;
	background-size: cover !important;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top: 0;
}


#about-us {
	padding: 0 60px;
	font-size: 21px;
	text-align: center;
}

#about-us .h1 {
	margin: 30px 0 20px;
	display: flex;
	justify-content: center;
	color: #D31411;
}

#contact-us {
	background-color: #ECEFF1;
}

/********************************************************************/

#burger-container:hover, #burger-container:focus {
	background: none;
}

#burger-container {
	border: none;
	height: 30px;
}

#burger span {
	transition: all ease-in-out 0.4s;
	background-color: #eee;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
	width: 0;
	opacity: 0;
}

#burger-container.open span:nth-child(4) {
	transform: rotate(45deg) translateY(-13px);
}

#burger-container.open span:nth-child(1) {
	transform: rotate(-45deg) translateY(13px);
}


/*****************************************************************/
#versions, .carousel-inner, .version-data {
	background: #B0BEC5;
	min-height: calc(100vh - 65px);
}

.version-pic, .version-info {
	padding: 110px 75px 30px !important;
	min-height: calc(100vh - 65px);
}

.version-img {
	min-height: 350px;
	height: 60vh;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	margin: 0 20px;
}

.version-info p {
	font-size: 16px;
	position: relative;
	top: 50%;
}

.carousel-indicators {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	height: 55px;
}

.carousel-indicators .active {
	width: 100% !important;
	height: 100% !important;
}

.carousel-indicators button {
	width: 100%;
	border-style: none;
	outline: none;
	background-color: #78909C;
}

.carousel-indicators button.active {
	background-color: #37474F;
	color: #fff;
}

.carousel-indicators button:first-child {
	border-radius: 0 0 0 10px;
}

.carousel-indicators button:last-child {
	border-radius: 0 0 10px 0;
}
/*************************************************************************/

@media only screen and (max-width : 992px) {

	.version-info {
		height: auto;
		margin-bottom: -85px;
		padding-top: 95px !important;
	}

	.version-info p {
		transform: none;
	}

	#navdropdown {
		font-size: 16px !important;
	}

	#navdropdown li {
		padding-right: 0px !important;
	}

}

@media only screen and (max-width : 700px) {

	#intro-heading {
		font-size: 40px;
	}

	.carousel-indicators {
		width: 100% !important;
		-webkit-transform: translateX(-20%);
		-moz-transform: translateX(-20%);
		transform: translateX(-20%);
	}

	.carousel-indicators button {
		border-radius: 0 !important;
	}

	#about-us {
		text-align: left;
		font-size: 16px;
		padding-left: 8px !important; 
		padding-right: 8px !important; 
	}

	.container-fluid {
		padding: 0 !important;
	}

}

@font-face {
	font-family: 'Montserrat', sans-serif;
}



/*

4336
--4548
5005
5035
5039
5074
5097
5172
5298
--5374
5488


*/