body {
	background-color: #eee;
}

nav {
	padding: 7px 20px;
}

#navdropdown {
	margin-right: 10px;
}

#navdropdown li {
	padding-right: 7px;
}

.fullpage {
	min-height: 100vh;
	width: 100%;
	padding-top: 65px !important;
}

#intro-heading {
	font-size: 45px;
}

#intro .cover {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.cover {
	background-color: rgba(100, 100, 100,0.4);
	min-height: calc(100vh - 65px);
	width: 100%;
}

.container-fluid {
	padding: 0;
}

#burger-container:hover, #burger-container:focus {
	background: none;
}

#burger-container {
	border: none;
}

#burger span {
	transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
	width: 0;
	opacity: 0;
}

#burger-container.open span:nth-child(4) {
	transform: rotate(45deg) translateY(-13px);
}

#burger-container.open span:nth-child(1) {
	transform: rotate(-45deg) translateY(13px);
}

.full-container {
	padding: 0 30px 30px 30px;
	font-size: 16px;
	padding-top: 65px !important;
}

#versions, .carousel-inner, .version-data {
	background: #bbb;
	min-height: calc(100vh - 65px);
}

.version-pic, .version-info {
	padding: 45px !important;
}

.version-pic, .version-info {
	height: calc(100vh - 65px);
}

.version-img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 60vh;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

.version-info p {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.carousel-indicators {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	height: 55px;
}

.carousel-indicators .active {
	width: 100% !important;
	height: 100% !important;
}

.carousel-indicators button {
	width: 100%;
	border-style: none;
	outline: none;
}

.carousel-indicators button:first-child {
	border-radius: 0 0 0 10px;
}

.carousel-indicators button:last-child {
	border-radius: 0 0 10px 0;
}


@media only screen and (max-width : 992px) {

	.version-info {
		height: auto;
		margin-bottom: -85px;
		padding-top: 95px !important;
	}

	.version-info p {
		transform: none;
	}

}

@media only screen and (max-width : 700px) {

	.carousel-indicators {
		width: 100% !important;
		-webkit-transform: translateX(-20%);
		-moz-transform: translateX(-20%);
		transform: translateX(-20%);
	}

	.carousel-indicators button {
		border-radius: 0 !important;
	}

}